.navContainer {
    background-image: url("./resource/back.jpeg");

    background-size: cover;
    /* height: 90vh; */

    height: 100%;
    width: 100%
}

.navbar-nav {
    display: grid;
    grid-gap: 10%;
}

.navbar-nav .nav-link {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;

}

.navContainer .navTextBtn h1 {
    color: #FFF;
    font-family: Jost;
    font-size: 65px;
}

.navContainer .btn-primary {
    border-radius: 0;
    padding: 10px 20px;
    background-color: #CEA93A;
    color: #FFF;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.20000000298023224px;
}

/* about us text */
.aboutUs p {
    color: #081A2B;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    padding-left: 5%;
}

/* about us heading */
.aboutUs h2 {
    color: #081A2B;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 5%
}

.aboutUs img {
    padding: 5%
}

/* learn more, more testimonials button */
.aboutUs .btn-rectangle,
.testimonialSection .btn-rectangle {
    border-radius: 0;
    /* display: flex; */
    width: 236px;
    padding: 16px 0px;
    /* flex-direction: column; */
    align-items: center;
    background: #0D89CA;
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}



/* leadership,show all button */
.blogsSection .btn-outline-info,
.aboutUs .btn-outline-info,
.newsSection .btn-outline-info,
.featuredSection .btn-outline-info,
.card1Blog .btn-outline-info,
.card2Blog .btn-outline-info {
    border-radius: 0;
    display: flex;
    width: 236px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #0D89CA;
    background: #FFF;
    color: #081A2B;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

/* offerings heading text */
.offeringHeading,
.blogHeading,
.newsHeading,
.featuredHeading,
.contactHeading,
.partnerHeading {
    color: #081A2B;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-top: 4%;
    padding-bottom: 2%;
}

.testimonialHeading {
    color: rgba(8, 26, 43, 0.75);
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 4%;
    padding-bottom: 2%;
    
}

.offerings h3 {
    color: #081A2B;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-bottom: 2%;
}

.card-group {
    display: grid;
    grid-gap: 1rem;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 0 auto;
}

.card-text {
    color: #001C27;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
}

.card,
.card1Blog,
.card2Blog {
    color: #081A2B;
    text-align: center;
    font-family: Jost;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    border-width: 2px;
    border-color: black;
    box-shadow: 1px 1px 1px 1px;
}

.card1Blog button,
.card2Blog button {
    justify-content: center;

}

.servicesContainer .card {
    background: rgba(162, 184, 193, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* ?????????????????? */
    width: 300px;
    height: 300px;
    flex-shrink: 0;

    height: 50%;
    width: 50%;
}
.servicesContainer .card-text {
    color: #081A2B;
    text-align: center;
    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.2px;
}

/* industries images set */
.indsutriesImgs img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}

.indsutriesImgs>:first-child {
    margin-left: 10%;
}

/* midle image size increased */
.indsutriesImgs .industrymid {
    width: 460px;
    height: 460px;
    flex-shrink: 0;
}

/* icons */
.indsutriesImgs>:nth-child(2),
.indsutriesImgs>:nth-child(4) {
    width: 50px;
    height: 50px;
    flex-shrink: 1;
}

.indsutriesImgs img:first-child,
.indsutriesImgs .industrymid,
.indsutriesImgs img:last-child {
    filter: brightness(50%);
}

/* offerings View All btn,testimonaials More btn */
.servicesContainer button,
.testBtn {
    border-radius: 0;
    width: 236px;
    /* padding: 16px 0px; */
    background: #0D89CA;
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 5%;
    position: relative;
    left: 44%;
}

.testBtn {
    margin-bottom: 5%;
}

/* testimonials CLient says and Video and text */
.testimonialSection p {
    color: rgba(8, 26, 43, 0.75);
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 1%;
}

.newsimage-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.newsimage-container img {
    max-width: 300px;
    margin-right: 20px;
}

.newsimage-container p:first-child {
    text-align: left;
    color: #081A2B;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 1%;
}

/* selecting 2nd p */
.newsimage-container p:nth-child(2) {
    font-family: Jost;
    font-style: normal;
    font-size: 30px;
    /* font-weight: 400; */
    line-height: 52px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding: 1%;
}

.text-container {
    flex: 1;
    font-family: Jost;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}

.dateContainer {
    display: flex;
    align-items: center;
}

.dateContainer pre {
    color: #A88427;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.contactQs {
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 142.857% */
    letter-spacing: 0.2px;
}

.blogsSection,
.newsSection,
.featuredSection {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.blogsSection>div,
.newsSection>div,
.featuredSection>div {
    margin: 10px auto;
}

.blogsSection>button,
.newsSection>button,
.featuredSection>button {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* testimonials section */
.card-group {
    display: grid;
}

.clientContainer .card {
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 0px 10px 0px rgba(162, 184, 193, 0.50);
    height: 530px;
}

.small-round-image {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.small-round-image2,
.small-round-image3 {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

.color {
    color: #CEA93A;
    position: relative;
    padding-left: 30px;
}

.color1 {
    color: #001C27;
    position: absolute;
    left: 0;
    top: 0;
}

.custom-bg {
    background: #A2B8C1;
}

/* form contact us */
.rounded {
    border-radius: 15px;
    display: flex;
    padding: 52px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #DDD;
    background: #FFF;

    /* SHADOW */
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.rounded h2 {
    color: var(--text, #252B42);
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

    letter-spacing: 0.1px;
}

#name,
#email {
    display: flex;
    padding: 20px 91px;
    flex-direction: column;
    align-items: flex-start;
    gap: 47px;
    align-self: stretch;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
    color: var(--background, #18171D);
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    letter-spacing: 0.1px;
}

textarea#message {
    display: flex;
    padding: 23px 20px 23px 123px;
    flex-direction: column;
    gap: 47px;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
    height: 147px;
    align-self: stretch;
    max-height: 150px;

    color: var(--background, #18171D);
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
}

button#formbtn {
    display: flex;
    width: 145px;
    padding: 18px 38px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contactContainer .location pre,
p {
    color: #4a5437;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1px;
}

.page-footer,
.list-unstyled a,
.page-footer h5 {
    background-color: #0D89CA;
    color: #FFF;
}

.footer-copyright,
.footer-copyright a {
    background-color: #001C27;
    color: #FFF;
}




@media only screen and (min-width: 1005px) and (max-width: 1442px) {
    .navbar-nav {
        display: none;
        grid-gap: 1%;
    }
}

@media only screen and (min-width: 1443px) and (max-width: 1664px) {
    .navbar-nav {
        display: none;
        grid-gap: 1%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1450px) {

    .indsutriesImgs img:first-child,
    .indsutriesImgs img:last-child {
        display: none;
    }

    .indsutriesImgs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .indsutriesImgs .industrymid {
        width: 50%;
        height: 50%;
        padding: 2%;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1450px) {
    .indsutriesImgs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .indsutriesImgs .industrymid {
        width: 50%;
        height: 50%;
        padding: 2%;
    }

    .indsutriesImgs>:nth-child(2) {
        margin-left: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1005px) {
    .navbar-nav {
        display: none;
        grid-gap: 0%;
    }

    .navContainer .navTextBtn h1 {
        color: #FFF;
        font-family: Jost;
        font-size: 45px;
    }

    .servicesContainer .card {
        background: rgba(162, 184, 193, 0.05);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        /* ?????????????????? */
        width: 169px;
        height: 169px;
        flex-shrink: 0;

        height: 50%;
        width: 50%;
    }

}

@media only screen and (max-width: 768px) {
    .navContainer {
        background-image: url("./resource/back.jpeg");
        background-size: cover;
        height: 110vh;
    }

    .indsutriesImgs img:first-child,
    .indsutriesImgs img:last-child {
        display: none;
    }

    .indsutriesImgs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .indsutriesImgs .industrymid {
        width: 50%;
        height: 50%;
        padding: 2%;
    }

    /* offerings  */
    .servicesContainer .card {
        background: rgba(162, 184, 193, 0.05);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        /* ?????????????????? */
        width: 169px;
        height: 169px;
        flex-shrink: 0;

        height: 50%;
        width: 50%;
    }

    .servicesContainer button,
    .testBtn {
        display: flex;
        width: 236px;
        padding: 16px 0px;
        flex-direction: column;
        align-items: center;
        background: #0D89CA;
        left: 15%
    }

    .testimonialSection p:first-child,
    .testimonialSection p:nth-child(2) {
        display: none;
    }

    .card2Blog {
        display: none;
    }

    .navContainer .navTextBtn h1 {
        color: #FFF;
        font-family: Jost;
        font-size: 45px;
    }

    .card1Blog .btn-outline-info {
        border-radius: 0;
        display: flex;
        width: 236px;
        padding: 16px 0px;
        flex-direction: column;
        align-items: center;
        border: 1px solid #0D89CA;
        background: #FFF;
        color: #081A2B;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2px;
    }

}

@media (max-width: 767px) {
    .mapImg {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .clientContainer .card {
        margin-left: 5vw;
    }

    .test-div {
        text-align: center;
    }

    .blogSm .btn-outline-info,
    .newsSm .btn-outline-info,
    .featuredSm .btn-outline-info {
        border-radius: 0;
        display: flex;
        width: 236px;
        padding: 16px 0px;
        flex-direction: column;
        align-items: center;
        border: 1px solid #0D89CA;
        background: #FFF;
        color: #081A2B;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2px;
    }

}

@media only screen and (min-width: 230px) and (max-width: 575px) {
    .navContainer .btn-primary {
        border-radius: 0;
        padding: 10px 20px;
        background-color: #CEA93A;
        color: #FFF;
        font-family: Jost;
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0.20000000298023224px;
        width: 152px;
        height: 52px;
        top: 419px;
        left: 15px;
    }
}